/vendor
/node_modules
/public/storage
/public/Static_Full_Version
/public/card_exports/*
!/public/card_exports/.gitkeep

/public/images/products/*
!/public/images/products/noimage.gif
/public/images/trainerImages/*
!/public/images/trainerImages/no-image.jpg
!/public/images/trainerImages/profile-icon.png

Homestead.yaml
Homestead.json
.env
/.idea
docker_environment/logs/mysql/*
!docker_environment/logs/mysql/.gitkeep