/* About page */
.about-main > div {
    text-align: center;
}

.about-main p {
    max-width: 550px;
    margin: 25px auto 0 auto;
    line-height: 22px;
    text-align: left;
    font-size: 18px;
}

.about-main h1 {
    text-align: left;
    color: #892E6B;
    font-size: 30px;
}

.about-main .video-wrap {
    margin-top: 55px;
}

.click2edit .container{
    width: 100%;
}

.note-editable .container{
    width: 100% !important;
}

.note-editable{
    overflow: scroll;
    height: 400px;
}

.edit_page .ibox-title h5 {
    margin-top: 6px;
}

.edit_page .save{
    display: inline-block;
}

.tabs-container .panel-body{
    background: none;
}

.title{
    margin-left: 15px ;
    margin-top: 10px ;
}