/* About page */

/* font-family: "ArianAMURegular"; */
@font-face {
    font-family: 'ArialAMU';
    src: url("../../fonts/ArialAMU/ArialAMU.eot");
    src: url("../../fonts/ArialAMU/ArialAMU.ttf");
    src: url("../../fonts/ArialAMU/ArialAMU.woff") format("woff"), url("../../fonts/ArialAMU/ArialAMU.eot?#iefix") format("embedded-opentype"); }

@font-face {
    font-family: 'ArialAMUbold';
    src: url("../../fonts/ArialAMU/ArialAMUbold.eot");
    src: url("../../fonts/ArialAMU/ArialAMUbold.ttf");
    src: url("../../fonts/ArialAMU/ArialAMUbold.woff") format("woff"), url("../../fonts/ArialAMU/ArialAMU-bold.eot?#iefix") format("embedded-opentype"); }

.about-main > div {
    text-align: center;
}
.note-editable .answers-questions {
    margin-top: 70px; }
.note-editable .answers-questions .section {
    margin-bottom: 60px;
    width: 50%;
    float: left;
    padding-right: 15px;
    padding-left: 15px; }
.note-editable .answers-questions .question {
    position: relative;
    padding-left: 31px;
    margin-bottom: 20px;
    font-family: ArialAMUbold; }
.note-editable .answers-questions .question i {
    position: absolute;
    font-size: 23px;
    top: 0;
    left: 0;
    color: #787878;
    margin-top: -3px; }
.note-editable .answers-questions .answer {
    position: relative;
    padding-left: 31px; }
.note-editable .answers-questions .answer i {
    position: absolute;
    font-size: 23px;
    top: 0;
    left: 0;
    color: #69bd5c;
    margin-top: -3px; }
.about-main p {
    max-width: 550px;
    margin: 25px auto 0 auto;
    line-height: 22px;
    text-align: left;
    font-size: 18px;
}

.about-main h1 {
    text-align: left;
    color: #892E6B;
    font-size: 30px;
}

.about-main .video-wrap {
    margin-top: 55px;
}

.click2edit .container{
    width: 100%;
}

.note-editable .container{
    width: 100% !important;
}

.note-editable{
    overflow: scroll;
    height: 400px;
}

.edit_page .ibox-title h5 {
    margin-top: 6px;
}

.edit_page .save{
    display: inline-block;
}

.tabs-container .panel-body{
    background: none;
}

.title{
    margin-left: 15px ;
    margin-top: 10px ;
}