.img_td{
    min-width: 70px;
}
.title_td{
    min-width: 150px;
}
.action a{
    padding-right: 5px;
}
.description{
    max-width: 500px;
}

#modal-form{
    text-align: center;
}

.modal-dialog{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

#modal-form:after{
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
@media screen and (max-width: 480px) {
    .title_td {
        min-width: auto;
    }
}
