.img_td{
    min-width: 70px;
}
.title_td{
    min-width: 150px;
}
.action a{
    padding-right: 5px;
}
.description{
    max-width: 500px;
}

.add_image{
    margin-bottom: 15px;
}

#modal-form{
    text-align: center;
}

.modal-dialog{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

#modal-form:after{
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
@media screen and (max-width: 480px) {
    .title_td {
        min-width: auto;
    }

    .add_image{
       width: 100%;
        padding:  4px 10px;
    }
}

/* Active image selected */

#gall .img_cont {
    display: inline-block;
}

.tmb_img{
    color: #fff;
    font-size: 13px;
    padding: 6px 0px;
    position: relative;
    top: -110px;
    margin: 5px;
    display: block;
    background: rgba(0,0,0,.5);
    visibility: hidden;
}

.show{
    visibility: visible;
}
.hidden{
    display: none;
}

#gall .tools{
    top: -35px;
    position: relative;
    text-align: left;

}

.delete_image{
    cursor: pointer;
    color: #892E6B;
}

.set_thumb_image{
    cursor: pointer;
    color: #1ab394;
}
