@charset "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tbody, td, tfoot, th, thead, time, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: 0 !important;
}

* {
  -webkit-text-size-adjust: auto !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  border: 0;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1;
  word-wrap: break-word;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="text"], input[type="submit"], textarea {
  outline: 0 !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear: both !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  width: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*input[type=text], input[type=email], input[type=password], input[type=number], textarea {
	&::-webkit-input-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&:-moz-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&::-moz-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&:-ms-input-placeholder {
		opacity: 1;
		color: #74421c;
	}
}


input.error {
	color: #D9272E !important;

	&::-webkit-input-placeholder {
		color: #D9272E !important;
	}
	&:-moz-placeholder {
		color: #D9272E !important;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: #D9272E !important;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: #D9272E !important;
	}
}
 */
/*
	cdCss functions
	--------------------
*/
/* font-family: "ArianAMURegular"; */
@font-face {
  font-family: 'ArialAMU';
  src: url("../fonts/ArialAMU/ArialAMU.eot");
  src: url("../fonts/ArialAMU/ArialAMU.ttf");
  src: url("../fonts/ArialAMU/ArialAMU.woff") format("woff"), url("../fonts/ArialAMU/ArialAMU.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'ArialAMUbold';
  src: url("../fonts/ArialAMU/ArialAMUbold.eot");
  src: url("../fonts/ArialAMU/ArialAMUbold.ttf");
  src: url("../fonts/ArialAMU/ArialAMUbold.woff") format("woff"), url("../fonts/ArialAMU/ArialAMU-bold.eot?#iefix") format("embedded-opentype");
}

html, body {
  margin: 0 !important;
  height: 100%;
  overflow-x: hidden;
  font-family: 'ArialAMU';
}

body {
  background: #f5f5f5;
}

.show-prod {
  display: block !important;
}

.show-open {
  display: block !important;
}

main {
  min-height: 100%;
  margin-bottom: -326px;
}

main:after {
  content: "";
  display: block;
}

footer, main:after {
  height: 326px;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav > li > a:focus, .nav > li > a:hover, .nav > li > a.active {
  background: transparent;
  color: #892E6B;
  font-family: ArialAMUbold;
}

.carousel-control.right {
  background: transparent;
}

.carousel-control.right span {
  display: block;
  color: #fff;
  background: #333333;
  position: relative;
  top: 40%;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.carousel-control.left {
  background: transparent;
}

.carousel-control.left span {
  display: block;
  color: #fff;
  background: #333333;
  position: relative;
  top: 40%;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.carousel-control {
  width: inherit !important;
  opacity: 0.6;
}

.carousel-control span img {
  margin-top: 21px;
}

.navbar-toggle {
  border: 1px solid #892E6B;
}

.navbar-toggle .icon-bar {
  background: #892E6B;
}

.main-nav {
  padding-left: 160px;
}

.nav li a {
  padding-top: 20px;
  font-family: ArialAMUbold;
  min-width: 140px;
  transition: all 0.3s;
  color: #676767;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.navbar {
  z-index: 2;
  background: #fff;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  box-shadow: 1px -2px 12px 1px #676767;
}

.navbar-header img {
  margin-top: 10px;
}

#myNavbar .navbar-right li a {
  padding-right: 0;
  color: #892E6B;
  font-family: ArialAMUbold;
}

#myNavbar .navbar-right li a span {
  padding-left: 5px;
}

#myNavbar .navbar-right li a img {
  padding-right: 5px;
}

.home-product-cont .col-md-3 .tumb-wrap {
  padding: 2px;
  padding-bottom: 12px;
  border-radius: 8px;
  margin-top: 30px;
  background: #fff;
}

.home-product-cont .col-md-3 .tumb-wrap .for-img > img {
  padding: 10px;
  background: #fff;
}

.home-product-cont .col-md-3 .t-active {
  border: 1px solid #892E6B;
}

.opening-block {
  min-height: 360px;
  position: relative;
  margin-top: 10px;
  border-radius: 8px;
  display: none;
}

.opening-block .reapeating-block {
  position: absolute;
  height: 100%;
  padding: 20px 5px;
  border-radius: 20px;
  background: #fff;
  display: none;
}

.opening-block .col-sm-8 h2 {
  font-family: ArialAMUbold;
  font-size: 24px;
  color: #892E6B;
}

.opening-block .col-sm-8 p {
  margin-top: 20px;
  font-size: 18px;
  color: #676767;
  line-height: 22px;
}

.opening-block .col-sm-8 h3 {
  margin-top: 20px;
  font-size: 18px;
  color: #333333;
}

.opening-block .col-sm-8 .sp-ch-k {
  margin-top: 20px;
}

.opening-block .col-sm-8 .sp-ch-k div {
  display: inline-block;
}

.opening-block .col-sm-8 .sp-ch-k div p {
  min-width: 200px;
}

.opening-block .col-sm-8 .sp-ch-k div span {
  font-family: ArialAMUbold;
  min-width: 100px;
  display: inline-block;
  color: #892E6B;
  float: right;
  text-align: right;
}

.opening-block .col-sm-8 .sp-ch-k div:nth-child(2) {
  padding-left: 40px;
}

.opening-block .col-sm-8 .social-wrap {
  margin-top: 15px;
}

.opening-block .col-sm-8 .social-wrap ul {
  float: left;
  margin-top: 34px;
}

.opening-block .col-sm-8 .social-wrap ul li {
  min-height: 50px;
}

.opening-block .col-sm-8 .social-wrap ul li a {
  margin-top: 5px;
  display: inline-block;
  transition: all 0.3s;
}

.opening-block .col-sm-8 .social-wrap ul li a img {
  vertical-align: middle;
}

.opening-block .col-sm-8 .social-wrap ul li a:hover {
  margin-top: -5px;
}

.opening-block .sm-gallery-ul {
  margin-top: 15px;
  margin-left: 0;
}

.opening-block .sm-gallery-ul li a {
  display: block;
}

.opening-block .sm-gallery-ul li a img {
  width: 50px;
}

.prod-inf {
  padding: 0 10px;
}

.prod-inf p {
  margin-bottom: 20px;
  text-align: center;
  font-family: ArialAMUbold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #892E6B;
}

.prod-inf .p-kkal {
  color: #333333;
  line-height: 33px;
  font-size: 16px;
  float: left;
  text-align: left;
}

.prod-inf .p-price {
  color: #676767;
  float: right;
  display: inline-block;
  text-align: right;
  font-size: 30px;
}

.prod-inf .p-price sub {
  font-size: 18px;
}

.prod-inf .quantity-wrap {
  margin-top: 10px;
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
}

.prod-inf .quantity-wrap .qty {
  font-size: 14px;
  border: none;
  border-right: 1px solid #892E6B;
  border-radius: 6px;
  width: 35px;
  height: 30px;
  text-align: center;
}

.prod-inf .quantity-wrap .qtyminus {
  display: block;
  width: 30px;
  height: 15px;
  padding-left: 14px;
  background: #fff;
  font-family: ArialAMUbold;
  color: #892E6B;
  font-size: 18px;
  border-bottom-right-radius: 4px;
  line-height: 12px;
  border: none;
}

.prod-inf .quantity-wrap .qtyplus {
  transition: all 0.3s;
  display: block;
  width: 30px;
  height: 15px;
  padding-left: 14px;
  background: #892E6B;
  font-family: ArialAMUbold;
  color: #fff;
  font-size: 18px;
  border-top-right-radius: 4px;
  line-height: 13px;
  border: none;
}

.prod-inf .quantity-wrap .quantity-form {
  border-radius: 5px;
  border: 1px solid #892E6B;
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
}

.prod-inf .quantity-wrap .quantity-form > div {
  z-index: 2;
}

.prod-inf .quantity-wrap .quantity-form > div + div {
  margin-left: -8px;
  z-index: 1;
}

.prod-inf .quantity-wrap .add-to-card-wrap {
  width: 100%;
  text-align: right;
}

.prod-inf .quantity-wrap .add-to-card-wrap img {
  vertical-align: middle;
}

.prod-inf .quantity-wrap .addToCard-button {
  transition: all 0.3s;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background: #892E6B;
  color: #fff;
  border-radius: 20px;
  border: none;
}

.prod-inf .quantity-wrap .addToCard-button span {
  transition: all 0.3s;
  display: inline-block;
  padding-right: 10px;
}

.prod-inf .quantity-wrap .addToCard-button:hover {
  /* box-shadow: 0 0 3px 1px #892e6b; */
}

.prod-inf .quantity-wrap .addToCard-button:hover span {
  transform: rotate(10deg);
}

.sided-to-social .prod-inf {
  float: right;
}

.sided-to-social .prod-inf .quantity-form {
  margin-right: 39px;
}

footer {
  margin-top: 100px;
  padding-top: 60px;
  background: #fff;
}

footer .footer-social img {
  vertical-align: middle;
}

footer .footer-nav {
  margin-top: 40px;
}

footer .footer-nav + p {
  line-height: 22px;
  color: #333333;
}

footer .footer-nav ul li a {
  text-decoration: none;
  color: #892E6B;
  font-family: ArialAMUbold;
}

footer .all-rights {
  color: #999999;
  font-size: 16px;
  margin-top: 60px;
}

/* About page */
.about-main > div {
  text-align: center;
  margin-top: 45px;
}

.about-main p {
  max-width: 550px;
  margin: 50px auto 0 auto;
  line-height: 22px;
  text-align: center;
  font-size: 18px;
}

/* contact page  */
.cols-3-row .col-sm-4 {
  margin-top: 60px;
}

.cols-3-row p {
  font-family: arial;
  font-size: 24px;
  line-height: 26px;
  margin-top: 30px;
  color: #999999;
}

.form-row h2 {
  margin-top: 90px;
  font-family: ArialAMUbold;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #892E6B;
}

.form-row ul {
  margin-top: 40px;
  margin-bottom: 50px;
}

.form-row ul img {
  vertical-align: middle;
}

.contact-page-form .col-sm-6 {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.contact-page-form > .col-sm-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.contact-page-form div input {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.contact-page-form div textarea {
  border: 1px solid #ccc;
  margin-top: 10px;
  min-height: 220px;
  padding-top: 20px;
  padding-left: 10px;
  width: 100%;
}

.contact-page-form .submit-div {
  text-align: right;
}

.contact-page-form .submit-div button {
  width: 160px;
  transition: all 0.3s;
  margin-top: 20px;
  margin-bottom: 54px;
  color: #fff;
  padding: 15px 20px;
  background: #67BBAC;
  border: none;
  border-radius: 30px;
}

.contact-page-form .submit-div button span {
  width: 16px;
  height: 16px;
  transition: all 0.3s;
  margin-left: 15px;
}

.contact-page-form .submit-div button:hover span {
  transform: rotateY(180deg);
}

/* Settings */
.settings-wrap {
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 35px 30px;
  max-width: 370px;
  background: #fff;
}

.user-prof {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.user-prof img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.user-prof .user-prof-inner {
  transition: all 0.3s;
  color: #fff;
  display: block;
  width: 100px;
  height: 100px;
}

.user-prof .user-prof-inner label {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  z-index: 10;
  cursor: pointer;
}

.user-prof .user-prof-inner input {
  height: 0;
  visibility: hidden;
}

.user-prof .user-prof-inner:before {
  content: '\f030';
  position: absolute;
  font-family: FontAwesome;
  z-index: 5;
  top: 35px;
  left: 35px;
  font-size: 29px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.user-prof .user-prof-inner:hover:before {
  opacity: 1;
}

.user-prof .user-prof-inner:hover img {
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  filter: brightness(60%);
}

#profile-form input {
  border-radius: 4px;
  font-size: 18px;
  color: #676767;
}

#profile-form label {
  line-height: 22px;
  color: #979797;
  font-family: ArialAMUbold;
}

#profile-form .buttons-cont div {
  width: 50%;
  float: left;
}

#profile-form .buttons-cont div button {
  transition: all 0.3s;
  border-radius: 32px;
  display: block;
  width: 100%;
  min-height: 40px;
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  font-family: ArialAMUbold;
}

#profile-form .buttons-cont div:first-child {
  padding-right: 5px;
}

#profile-form .buttons-cont div:first-child button {
  background: #ccc;
}

#profile-form .buttons-cont div:first-child button:hover {
  box-shadow: inset 0 0 10px 1px #333333;
}

#profile-form .buttons-cont div:nth-child(2) {
  padding-left: 5px;
}

#profile-form .buttons-cont div:nth-child(2) button {
  background: #892E6B;
}

#profile-form .buttons-cont div:nth-child(2) button:hover {
  box-shadow: inset 0 0 10px 1px #fff;
}

#profile-form .pass-change-cont {
  margin-top: 20px;
}

#profile-form .pass-change-cont div {
  margin-top: 10px;
}

#profile-form .form-top > div {
  margin-top: 20px;
}

/* PRofile  */
.profile-top {
  margin: 30px auto;
  max-width: 370px;
  background: #fff;
  padding: 10px 10px 20px;
}

.profile-top a {
  border-radius: 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  float: right;
  transition: all 0.5s;
}

.profile-top a img {
  transition: all 0.5s;
}

.profile-top a:hover {
  transform: rotate(180deg);
}

.profile-top a:hover img {
  transform: scale(1.2);
}

.profile-top a + div {
  margin-top: 20px;
  text-align: center;
}

.profile-top a + div h2 {
  color: #333333;
  font-size: 24px;
  margin-top: 20px;
}

.profile-top a + div img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.for-table {
  border: 1px solid #cccccc;
  background: #fff;
}

.for-table table .name-td {
  color: #892E6B;
  font-family: ArialAMUbold;
  font-size: 18px;
}

.for-table thead tr th {
  color: #999999;
  font-family: ArialAMU;
  font-size: 18px;
}

.for-table thead tr th:first-child {
  padding-left: 35px;
}

.for-table thead tr th:last-child {
  padding-right: 35px;
}

.for-table tbody td {
  padding-top: 25px !important;
  font-size: 18px;
  color: #333333;
}

.for-table tbody td:first-child {
  padding-left: 35px;
}

.for-table tbody td:last-child {
  padding-right: 35px;
}

.stanal-info {
  padding-right: 30px;
  padding-left: 30px;
}

.stanal-info hr {
  border: 1px solid #ccc;
}

.stanal-info ul:first-child {
  margin-top: 30px;
}

.stanal-info ul:first-child li {
  font-size: 18px;
}

.stanal-info ul:first-child li:nth-child(2) {
  text-align: right;
  color: #892E6B;
  font-family: ArialAMUbold;
  float: right;
}

.stanal-info ul:nth-child(2) {
  margin-top: 20px;
}

.stanal-info ul:nth-child(2) li:first-child {
  font-size: 18px;
}

.stanal-info ul:nth-child(2) li:nth-child(2) {
  text-align: right;
  color: #892E6B;
  font-size: 24px;
  font-family: ArialAMUbold;
  float: right;
}

.stanal-info .kkapnvenq input {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 18px;
}

.stanal-info .kkapnvenq + p {
  color: #333333;
  text-align: center;
  margin-top: 20px;
  line-height: 26px;
  font-size: 18px;
}

.stanal-info .kkapnvenq + p + div button {
  width: 250px;
  margin: 20px auto;
  padding: 15px;
  font-size: 18px;
  background: #892E6B;
  border: none;
  border-radius: 30px;
  color: #fff;
}

/* Login */
.login-marzich {
  max-width: 300px;
  margin: 50px auto;
}

.login-marzich h3 {
  color: #892E6B;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: ArialAMUbold;
}

.login-marzich input {
  width: 100%;
  margin-top: 10px;
  padding: 15px 10px 10px 10px;
  font-size: 18px;
  color: #999999;
  border: 1px solid #999999;
  border-radius: 4px;
}

.login-marzich input[type="checkbox"] {
  width: inherit;
}

.login-marzich p {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: ArialAMUbold;
  color: #333333;
}

.login-marzich .check-box {
  margin-top: 20px;
  padding-left: 10px;
}

.login-marzich .check-box > input {
  padding-right: 10px;
  float: left;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  margin: 0;
  width: 17px;
  height: 17px;
  display: inline-block;
  opacity: 0;
  position: relative;
  z-index: 1;
}

.login-marzich .check-box > input:checked + label {
  position: relative;
}

.login-marzich .check-box > input:checked + label:after {
  position: absolute;
  top: -1px;
  left: 1px;
  content: '✔';
  font-size: 14px;
}

.login-marzich .check-box > label {
  float: left;
  cursor: pointer;
  margin: 0 10px 0 -17px;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  display: inline-block;
  border: 1px solid #892E6B;
  border-radius: 4px;
}

.login-marzich .check-box span {
  color: #333333;
  font-size: 18px;
}

.login-marzich .check-box + a {
  padding-left: 10px;
  display: inline-block;
  margin-top: 20px;
  color: #3c44ef;
  font-size: 16px;
}

.login-marzich .check-box + a + div {
  text-align: center;
}

.login-reg-button {
  text-align: center;
}

.login-reg-button button {
  margin-top: 30px;
  margin-left: auto;
  margin-left: auto;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
  background: #892E6B;
  border: none;
  padding: 15px;
  width: 250px;
}

.basket-table {
  margin-top: 50px;
}

.basket-table .name-td img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-radius: 100%;
}

.basket-table td {
  vertical-align: middle !important;
}

.basket-title {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  font-family: ArialAMUbold;
  color: #892E6B;
}

@media screen and (max-width: 1024px) {
  .main-nav {
    padding-left: 40px;
  }
  .prod-inf .quantity-wrap .addToCard-button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
  .prod-inf .quantity-wrap .qtyplus {
    font-size: 14px;
  }
  .prod-inf .quantity-wrap .qtyminus {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
    text-align: center;
    padding-left: 0;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-toggle {
    border: 1px solid #892E6B;
  }
  .navbar-toggle .icon-bar {
    background: #892E6B;
  }
  .navbar-toggle + a {
    display: block;
    text-align: center;
  }
  .for-table .info-head ul li {
    min-width: 100px;
  }
  .for-table .main-inf ul li {
    min-width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-control.left span {
    top: 36%;
  }
  .carousel-control.right span {
    top: 36%;
  }
}

@media screen and (max-width: 767px) {
  .home-product-cont .tumb-wrap .for-img > img {
    margin: 0 auto;
  }
  .home-product-cont .tumb-wrap .for-img {
    max-width: 480px;
    margin: 0 auto;
  }
  .for-table .col-sm-6 {
    float: none;
    padding-right: 0;
    text-align: center;
  }
  .for-table .info-head ul {
    float: none;
  }
  .for-table .buyer-name-head h3 {
    padding-left: 0;
  }
  .for-table .main-inf ul {
    float: none;
  }
}

@media screen and (max-width: 480px) {
  .carousel-control.left span {
    top: 30%;
  }
  .carousel-control.right span {
    top: 30%;
  }
  #profile-form .buttons-cont div button {
    font-size: 16px;
  }
  .for-table table * {
    font-size: 16px !important;
  }
  .for-table thead tr th:first-child {
    padding-left: 15px;
  }
  .for-table thead tr th:last-child {
    padding-right: 15px;
  }
  .for-table tbody td:first-child {
    padding-left: 15px;
  }
  .for-table tbody td:last-child {
    padding-right: 15px;
  }
  .stanal-info {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 360px) {
  .carousel-control.left span {
    top: 25%;
  }
  .carousel-control.right span {
    top: 25%;
  }
}

@media screen and (max-width: 320px) {
  .carousel-control.left span {
    top: 22%;
    padding-left: 2px;
    padding-right: 2px;
  }
  .carousel-control.right span {
    top: 22%;
    padding-right: 2px;
    padding-left: 2px;
  }
  .for-table .info-head ul li {
    min-width: 85px;
    font-size: 14px;
  }
  .for-table .main-inf ul li {
    text-align: center !important;
    min-width: 85px;
    font-size: 14px;
  }
}
