@media screen and(max-width: 1024px){
	.main-nav{
		padding-left: 40px;
	}

	.prod-inf{
		.quantity-wrap{
			.addToCard-button{
				padding-left: 10px;
				padding-right: 10px;
				font-size: 14px;
			}
			.qtyplus{
				font-size: 14px;
			}
			.qtyminus{
				font-size: 14px;
			}
		} 
	} 
}
 
@media screen and(max-width: 991px){
	.navbar-header {
	        float: none;
	    }
	    .navbar-left,.navbar-right {
	        float: none !important;
	    }
	    .navbar-toggle {
	        display: block;
	    }
	    .navbar-collapse {
	        border-top: 1px solid transparent;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    }
	    .navbar-fixed-top {
	        top: 0;
	        border-width: 0 0 1px;
	    }
	    .navbar-collapse.collapse {
	        display: none!important;
	    }
	    .navbar-nav {
	        float: none!important;
	        margin-top: 7.5px;
	        text-align: center;
	        padding-left: 0;
	    }
	    .navbar-nav>li {
	        float: none;
	    }
	    .navbar-nav>li>a {
	        padding-top: 10px;
	        padding-bottom: 10px;
	    }
	    .collapse.in{
	        display:block !important;
	    }
	   .navbar-nav .open .dropdown-menu {
	       position: static;
	       float: none;
	       width: auto;
	       margin-top: 0;
	       background-color: transparent;
	       border: 0;
	       -webkit-box-shadow: none;
	       box-shadow: none;
	    }
		.navbar-toggle{
			border: 1px solid $main-violet;
			.icon-bar{
				background: $main-violet;
			}
		& + a{
			 display: block;
			 text-align: center;
		}
	} 
	.for-table {
		.info-head{
			ul {
				li{
					min-width: 100px;
				}
			}
		}
		.main-inf{
			ul{
				li{
					min-width: 100px;
				}
			}
		} 
	}
}

@media screen and(max-width: 768px){
	.carousel-control.left span{
		top: 36%;
	}

	.carousel-control.right span{
		top: 36%;
	}
}

@media screen and(max-width: 767px){
	.home-product-cont{
		.tumb-wrap{
			.for-img > img{
				margin: 0 auto;
			}
			.for-img{
				max-width: 480px;
				margin: 0 auto;
			}
		}
	}

	.for-table{
		.col-sm-6{
			float: none;
			padding-right: 0;
			text-align: center;
		}
		.info-head{
			ul{
				float: none;

			}
		}
		.buyer-name-head{
			h3{
				padding-left: 0;
			}
		}
		.main-inf {
			ul{
				float: none;
			}
		}
	} 
	
}

@media screen and(max-width: 480px){
	.carousel-control.left span{
		top: 30%;
	}

	.carousel-control.right span{
		top: 30%;
	}
	#profile-form{
		.buttons-cont{
			div{
				button{
					font-size: 16px;
				}
			}		
		}
	}
	.for-table{
		table{
			& *{
				font-size: 16px !important;
			}
		}
		thead{
			tr{
				th{
					&:first-child{
						padding-left: 15px;
					}
					&:last-child{
						padding-right: 15px;
					}
				}
			}
		}
		tbody{
			td{
				&:first-child{
					padding-left: 15px;
				}
				&:last-child{
					padding-right: 15px;
				}
			}
		}
	}
	.stanal-info{
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media screen and(max-width: 360px){
	.carousel-control.left span{
		top: 25%;
	}

	.carousel-control.right span{
		top: 25%;
	}
}

@media screen and(max-width: 320px){
	.carousel-control.left span{
		top: 22%;
		padding-left: 2px;
		padding-right: 2px;
	}

	.carousel-control.right span{
		top: 22%;
		padding-right: 2px;
		padding-left: 2px;
	}
	.for-table {
		.info-head{
			ul {
				li{
					min-width: 85px;
					font-size: 14px;
				}
			}
		}
		.main-inf{
			ul{
				li{
					text-align: center !important;
					min-width: 85px;
					font-size: 14px;
				}
			}
		} 
	}
}


 