//
// Site css
// --------------------------------------------

/* font-family: "ArianAMURegular"; */
    @font-face {
      font-family: 'ArialAMU';
      src: url('../fonts/ArialAMU/ArialAMU.eot');
      src: url('../fonts/ArialAMU/ArialAMU.ttf');
      src: url('../fonts/ArialAMU/ArialAMU.woff') format('woff'),
           url('../fonts/ArialAMU/ArialAMU.eot?#iefix') format('embedded-opentype');
    }
    @font-face {
      font-family: 'ArialAMUbold';
      src: url('../fonts/ArialAMU/ArialAMUbold.eot');
      src: url('../fonts/ArialAMU/ArialAMUbold.ttf');
      src: url('../fonts/ArialAMU/ArialAMUbold.woff') format('woff'),
           url('../fonts/ArialAMU/ArialAMU-bold.eot?#iefix') format('embedded-opentype');
    }

html, body {
  margin: 0 !important;
  height: 100%;
  font-family: 'ArialAMU'; 
}



body{
	background: #f5f5f5;
}


::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0px -3px 4px;
   background: #fff;
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 4px;
    background: $main-violet;
}
/* ::-webkit-scrollbar-thumb:window-inactive {
	
} */

.show-prod{
	display: block !important;
}

.show-open{
	display: block !important;
}

main{
	min-height: 100%; 
}

.basket-main{
	margin-top: 112px;
}

.home-main{
	margin-top: 62px;
}

footer, main:after{
	height: 326px;
}

.no-padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.nav>li>a:focus, .nav>li>a:hover, .nav>li>a.active{
	background: transparent;
	color: $main-violet;
	font-family: ArialAMUbold;
}

.carousel-control.right {
	background: transparent;
	span{
		display: block;
		color: #fff;
	    background: $main-black; 
	    position: relative;
	    top: 40%; 
	    height: 70px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
}

.carousel-control.left{
	background: transparent;
	span{
		display: block;
		color: #fff;
	    background: $main-black; 
	    position: relative;
	    top: 40%; 
	    height: 70px;
	    padding-left: 10px;
	    padding-right: 10px;

	}
}



.carousel-control{
	width: inherit !important;
	opacity: 0.6;
	span{
		img{
			margin-top: 21px;
		}
	}
}

.droshakner-parent{
	border-radius: 2px;
	margin-top: 20px;
	display: inline-block;
	border: 1px solid $main-violet;
	select{
		border: none;
	}
}

.navbar-toggle{
	border: 1px solid $main-violet;
	.icon-bar{
		background: $main-violet;
	}
} 


.main-nav{
	padding-left: 160px;
}

.nav{
	li{
		a{
			padding-top: 20px; 
			font-family: ArialAMUbold;
			min-width: 140px;
			transition: all 0.3s;
			color: $main-gray;
			font-size: 16px;
			letter-spacing: 0.5px;
		}
	} 
}

.checked-check{
	
	&:after{
		position: absolute;
	    top: 1px;
	    left: 14px;
	    content: '✔';
	    font-size: 14px;
	}
}

.navbar{
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background: #fff;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    box-shadow: 0px 6px 12px -3px rgba(103, 103, 103, 0.52);
}

.navbar-header{
	img{
		margin-top: 10px;
	}
}

#myNavbar{
	.navbar-right{
		li{
			a{
				padding-right: 0;
				color: $main-violet;
				font-family: ArialAMUbold;
				span{
					padding: 3px;
				}
				img{
					padding-right: 5px;
				}
			}
		}	
	}
}

.modal-dialog{
	width: 96%;
	overflow: hidden;
}

.modal-header{
	padding: 0;
	border-bottom: 0;
	button.close{
		padding: 15px 15px 0 0;
		font-size: 30px;
	}
}

.home-product-cont{
	.col-md-3{
		.tumb-wrap{
			transition: all 0.3s;
			border: 1px solid transparent;
			padding: 2px;
			padding-bottom: 12px;
			border-radius: 8px;
			margin-top: 30px;
			background: #fff;
			.for-img{
				& > img{
					padding: 10px;
					background: #fff;
				}
			}

		}
		.t-active{
			border: 1px solid $main-violet;
		}
	}
}

.opening-block{
	margin-top: 10px;  
	border-radius: 8px; 
	display: none;

	.reapeating-block{
		overflow: hidden;
		min-height: 360px; 
		padding: 20px 5px; 
		background: #fff;
		display: none;
	}
	.col-sm-8{
		h2{
			font-family: ArialAMUbold;
			font-size: 24px;
			color: $main-violet;
		}
		p{
			margin-top: 20px;
			font-size: 18px;
			color: $main-gray;
			line-height: 22px;
		}
		h3{
			margin-top: 20px;
			font-size: 18px;
			color: $main-black;
		}
		.sp-ch-k{
			margin-top: 20px;
 			div{
				display: inline-block;
				p{
					min-width: 200px;
				}
				span{
					font-family: ArialAMUbold;
					min-width: 100px;
					display: inline-block;
					color: $main-violet;
					float: right;
					text-align: right;
				}
				&:nth-child(2){
					padding-left: 40px;
				}
			}
		}
		.social-wrap{
			margin-top: 15px;
			ul{
				float: left;
				margin-top: 34px;
				li{
					min-height: 50px;
					a{
						margin-top: 5px;
						display: inline-block;
						transition: all 0.3s;
						img{
							vertical-align: middle;
						}
						&:hover{
							margin-top: -5px;
						}
					}
				}
			}
		}
	}
	.sm-gallery-ul{
		margin-top: 15px;
		margin-left: 0;
		li{
			a{
				display: block;
				img{
					width: 50px;
				}
			}
		}
	}
}



.prod-inf{
	padding: 0 10px;
	p{
 
		margin-bottom: 20px;
		text-align: center; 
		font-family: ArialAMUbold;
		font-size: 16px;
		letter-spacing: 0.5px;
		color: $main-violet;
	}
	.p-kkal{
		color: $main-black;
		line-height: 33px;
		font-size: 16px;
		float: left; 
		text-align: left;
	}
	.p-price{
		color: $main-gray;
		float: right;
		display: inline-block;
		text-align: right;
		font-size: 30px;
		sub{
			font-size: 18px;
		}
	}
	.quantity-wrap{
		margin-top: 10px;
		-webkit-display: flex;
		   -moz-display: flex;
			    display: flex;
		.qty{
			font-size: 14px;
			border: none;
			border-right: 1px solid $main-violet;
			border-radius: 6px;
			width: 35px;
			height: 30px;
			text-align: center;
		}
		.qtyminus{
			display: block;
			width: 30px; 
			height:15px;
			padding-left: 14px;
			background: #fff;
			font-family: ArialAMUbold;
			color: $main-violet;
			font-size: 18px;
			border-bottom-right-radius: 4px;
			line-height: 12px;
			border: none;
		}
		.qtyplus{
			transition: all 0.3s;
			display: block;
			width: 30px; 
			height:15px;
			padding-left: 14px;
			background: $main-violet;
			font-family: ArialAMUbold;
			color: #fff;
			font-size: 18px;
			border-top-right-radius: 4px;
			line-height: 13px;
			border: none;

		}
		.quantity-form{ 
			border-radius: 5px;
			border: 1px solid $main-violet;
			-webkit-display: flex;
			   -moz-display: flex;
				    display: flex;
			& > div{
				z-index: 2;
				& + div{
					margin-left: -8px;
					z-index: 1;
				}
			}
		}
		.add-to-card-wrap{
			width: 100%;
			text-align: right; 
			img{
				vertical-align: middle;
			}
		}
		.addToCard-button{
			transition: all 0.3s;
			height: 100%;
			padding-left: 22px;
			padding-right: 22px;
			background: #892E6B;
			color: #fff;
			border-radius: 20px;
			box-shadow: 0 3px 0 0 #561D43;
			border: none;
			span{
				transition: all 0.3s;
				display: inline-block;
				padding-right: 10px;
			}
			&:active{
				-webkit-transform: translate(0px, 3px);
						transform: translate(0px, 3px);
						box-shadow: 0px 1px 0px 0px;
						&:after{
							border-radius: 100%;
							padding: 0;
							margin: 0;
							opacity: 0.9;
							transition: 0s
						}
			}
			&:hover{
				background: $main-violet + 30;
			}
			&:after{
				content: "";
				pointer-events: none;
			    background: $main-violet; 
			    border-radius: 50%;
			    display: block;
			    position: absolute;
			    padding: 100%;
			    margin-top: -100%;
			    margin-left: -100%;
			    opacity: 0;
			    transition: all 0.5s
			}
		}
	}
}
  .sided-to-social{
	.prod-inf{
		 float: right;
		 .quantity-form{
		 	margin-right: 39px;
		 }
	}
} 

footer{ 
	margin-top: 100px;
	padding-top: 60px;
	background: #fff;
	.footer-social{
		img{
			vertical-align: middle;
		}
	}
	.footer-nav{
		margin-top: 40px;
		& + p{
			line-height: 22px;
			color: $main-black;
		} 
		
		ul{
			li{
				a{
					text-decoration: none;
					color: $main-violet; 
					font-family: ArialAMUbold;
				}
			}
		}
	}
	.all-rights{
		color: $light-gray;
		font-size: 16px;
		margin-top: 60px;
	}
}

/* About page */

.about-main{
	& > div{
		text-align: center;
		margin-top: 107px;
	}
	p{
		max-width: 550px;
		margin: 50px auto 0 auto;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
	}
}
 

/* contact page  */
.contact-main{
	margin-top: 62px;
}
.cols-3-row{
	.col-sm-4{
		margin-top: 60px;
	}
	p{
		font-family: arial;
		font-size: 24px;
		line-height: 28px;
		margin-top: 30px;
		color: $light-gray;
	}
}

.form-row{
	h2{
		margin-top: 90px;
		font-family: ArialAMUbold;
		font-size: 24px;
		text-transform: uppercase;
		text-align: center;
		color: $main-violet;
	}
	ul{
		margin-top: 40px;
		margin-bottom: 50px;
		img{
			vertical-align: middle;
		}
	}
}

.contact-page-form{
	.col-sm-6{
		margin-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}	
	& > .col-sm-12{
		padding-left: 5px;
		padding-right: 5px;
	}
	div{
		input{
			font-size: 16px;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 10px;
		}
		textarea{
			border: 1px solid #ccc;
			margin-top: 10px;
			min-height: 220px;
			padding-top: 20px;
			padding-left: 10px;
			width: 100%;
		}
	}
	.submit-div{
		text-align: right;
		button{
			width: 160px;
			transition: all 0.3s;
			margin-top: 20px;
			margin-bottom: 54px;
			color: #fff;
			padding: 15px 20px;
			background: $light-green;
			border: none;
			border-radius: 30px;
			span{
				width: 16px;
				height: 16px;
				transition: all 0.3s;
				margin-left: 15px;
			}
			&:hover{
				span{
					transform: rotateY(180deg);
				}
			}
		}
	}
}


/* Settings */

.settings-wrap{
	overflow: hidden;
	margin: 0 auto;
	margin-top: 92px;
	padding: 20px 35px 30px;
	max-width: 370px; 
	background: #fff;
}

.user-prof{
	position: relative;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	img{
		width: 100px;
		height: 100px;
		border-radius: 100%;
	} 
	.user-prof-inner{
		transition: all 0.3s;
		color: #fff;
		display: block;
		width: 100px;
		height: 100px;
		label#uplod-img-label{
			position: absolute;
			display: block;
			width: 100px;
			height: 100px;
			z-index: 10;
			cursor: pointer;
		}
		input#imgInp{
			height: 0;
			visibility: hidden;
		}
		&:before{
			content: '\f030';
		    position: absolute;
		    font-family: FontAwesome;
		    z-index: 5;
		    top: 35px;
		    left: 35px;
		    font-size: 29px;
		    opacity: 0;
	       transition: opacity .25s ease-in-out;
	       -moz-transition: opacity .25s ease-in-out;
	       -webkit-transition: opacity .25s ease-in-out;
		}
		&:hover{
			&:before{
				opacity: 1;
			}
			img{
				-webkit-filter: brightness(60%);
				-moz-filter: brightness(60%);
					filter: brightness(60%);
			}
		}
	}
}

#profile-form{
	input{
		border-radius: 4px;
		font-size: 18px;
		color: $main-gray;
	}
	label{
		line-height: 22px;
		color: #979797;
		font-family: ArialAMUbold;
	}
	.buttons-cont{
		div{
			width: 50%;
			float: left;
			button{
				transition: all 0.3s;
				border-radius: 32px;
				display: block;
				width: 100%;
				min-height: 40px;
				margin-top: 20px;
				font-size: 18px;
				color: #fff;
				border: none;
				font-family: ArialAMUbold;
				
			}
		}
		div:first-child{
			padding-right: 5px;
			button{
				background: #ccc;
				&:hover{
					box-shadow: inset 0 0 10px 1px $main-black;
				}
			}
		}
		div:nth-child(2){
			padding-left: 5px;
			button{
				background: $main-violet;
				&:hover{
					box-shadow: inset 0 0 10px 1px #fff;
				}
			}
		}
	}
	.pass-change-cont{
		margin-top: 20px;
		div{ 
			margin-top: 10px;
		}
	}
	.form-top{
		& > div{
			margin-top: 20px;
		}
	}
}


/* PRofile  */

.profile-top{
	text-align: center;
	margin: 92px auto 30px auto;
	max-width: 370px;
	background: #fff;
	padding: 10px 10px 20px;
	.profile-exit{
		display: inline-block;
		margin-top: 15px;
		text-decoration: none;
		color: $main-violet;
		cursor: pointer;
		&:after{
			transition: all 0.3s;
			display: inline-block;
			position: absolute;
			margin-top: 1px;
			padding-left: 5px;
			font-family: FontAwesome;
			content: "\f08b";
		}
		&:hover{
			&:after{
				padding-left: 10px;
			}
		}
	}
	a.astxik{
		border-radius: 100%;
		display: inline-block;
		width: 16px;
		height: 16px;
		float: right;
		transition: all 0.3s;
		img{
			 
		}
		&:hover{
			transform: rotate(360deg);
			img{
				transform: scale(1.2);
			}
		}

		& + div{
			margin-top: 20px;
			text-align: center;
			h2{
				color: $main-black;
				font-size: 24px;
				margin-top: 20px;
			}
			img{
				width: 100px;
				height: 100px;
				border-radius: 100%;
			}
		}
	}
}


.for-table{
	border: 1px solid #cccccc;
	background: #fff;
	table{
		.name-td{
			color: $main-violet;
			font-family: ArialAMUbold;
			font-size: 18px;
			span{
				padding-left: 15px;
			}
		}
	}
	thead{
		tr{
			th{
				border-bottom: none;
				color: $light-gray;
				font-family: ArialAMU;
				font-size: 18px;
				&:first-child{
					padding-left: 35px;
				}
				&:last-child{
					padding-right: 35px;
				}
			}
		}
	}
	tbody{
		td{
			padding-top: 25px !important;
			font-size: 18px;
			color: $main-black;
			&:first-child{
				padding-left: 35px;
			}
			&:last-child{
				padding-right: 20px;
				padding-left: 0;
				max-width: 25px;
			}
		}
	}
}



.stanal-info{
	padding-right: 30px; 
	padding-left: 30px;
	hr{
		border: 1px solid #ccc;
	}
	ul{
		&:first-child{
			margin-top: 30px;
			li{
				font-size: 24px;
				&:nth-child(2){
					text-align: right;
					color: $main-violet;
					font-family: ArialAMUbold;
					float: right;
				}	
			}
		}
		&:nth-child(2){
			margin-top: 20px;
			li{
				&:first-child{
					font-size: 18px;
				}
				&:nth-child(2){
					text-align: right;
					color: $main-violet;
					font-size: 18px;
					font-family: ArialAMUbold;
					float: right;
				}
			}
		}	
		&:nth-child(3){
			margin-top: 20px;
			li{
				&:first-child{
					font-size: 18px;
				}
				&:nth-child(2){
					text-align: right;
					color: $main-violet;
					font-size: 18px;
					font-family: ArialAMUbold;
					float: right;
				}
			}
		}
		&:nth-child(4){
			margin-top: 20px;
			li{
				&:first-child{
					font-size: 18px;
				}
				&:nth-child(2){
					text-align: right;
					color: $main-violet;
					font-size: 18px;
					font-family: ArialAMUbold;
					float: right;
				}
			}
		}
	}

	.kkapnvenq{
		input{
		    width: 100%;
		    border: none;
		    border-radius: 6px;
		    padding: 15px;
		    font-size: 18px;
		}
		& + p{
			color: $main-black;
			text-align: center;
			margin-top: 20px;
			line-height: 26px;
			font-size: 18px;
			& + div button{
				width: 250px;
				margin: 20px auto;
				padding: 15px;
				font-size: 18px;
				background: $main-violet;
				border: none;
				border-radius: 30px;
				color: #fff;
			}
		}
	}
}

.bfh-datepicker-calendar>table.calendar{
	width: 300px;
}

.bfh-datepicker{
	cursor: pointer;
	margin-top: 10px;
	&:hover{
		i{
			color: $main-violet;
		}
	}
	.bfh-datepicker-toggle{
		span{
			border-right: 0;
			background: #fff;
			border: 1px solid $light-gray;
		}
		input{
			color: $light-gray;
			height: 48px;
			margin: 0;
			background: #fff;
			border-left: 0;
		}
	}
}

/* Login */
.registration-block{
	margin: 0 auto;
	margin-top: 102px;
	max-width: 300px;
	.d-of-birth{
		color: $main-violet;
		font-family: ArialAMU;
		display: inline-block;
		margin-top: 15px;
	}
	input{
		width: 100%;
		margin-top: 10px;
		padding: 15px 10px 10px 10px;
		font-size: 18px;
		color: $main-black;
		border: 1px solid #999999;
		border-radius: 4px;
	} 
	input[type="submit"]{
		text-transform: uppercase;
		margin-top: 30px;
		color: #fff;
		transition: all 0.3s;
		background: $main-violet;
		border: none;
		border-radius: 20px;
		&:hover{
			box-shadow: inset 0 0 4px 1px;
		}
	}
	p{
		text-align: center;
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 10px;
		font-family: ArialAMUbold;
		color: #333333;
	}
}

.register-link{
	padding-left: 10px;
	margin-top: 15px;
	display: inline-block;
	color: #3c44ef;
}

.login-marzich{
	max-width: 300px;
	margin: 112px auto 50px auto; 
	h3{
		color: $main-violet;
		text-align: center;
		text-transform: uppercase;
		font-size: 24px;
		font-family: ArialAMUbold;
	}
	input{
		width: 100%;
		margin-top: 10px;
		padding: 15px 10px 10px 10px;
		font-size: 18px;
		color: $light-gray;
		border: 1px solid $light-gray;
		border-radius: 4px;
	}
	input[type="checkbox"]{
		width: inherit;
	}
	p{
		text-transform: uppercase;
		text-align: center;
		font-size: 18px;
		margin-top: 30px; 
		margin-bottom: 10px;
		font-family: ArialAMUbold;
		color: $main-black;
	}
	.check-box{
		margin-top: 20px;
		padding-left: 10px;
		> input {
		padding-right: 10px;
        float: left;
        background-color: #ffffff;
        border: 0;
        cursor: pointer;
        margin: 0;
        width: 17px;
        height: 17px;
        display: inline-block;
        opacity: 0;
        position: relative;
        z-index: 1;
        &:checked + label {
          position: relative;
        }

        &:checked + label:after {
          position: absolute;
          top: 1px;
          left: 3px;
          content: '✔';
          font-size: 14px;
        }
      }

      > label {
        float: left;
        cursor: pointer;
        margin: 0 10px 0 -17px; 
        width: 17px;
        height: 17px;
        background-color: #ffffff;
        display: inline-block;
        border: 1px solid $main-violet;
		border-radius: 4px;
      }
      span{
      	color: $main-black;
      	font-size: 18px;
      }
      span#delivery-price{
      	color: red;
      }

      & + a{
      	padding-left: 10px;
      	display: inline-block;
      	margin-top: 20px;      
      	color: #3c44ef;
      	font-size: 16px;
      	& + div{
      		text-align: center;			
      	}	
      }
	}
}
.login-reg-button{
	text-align: center;
	button{
		text-transform: uppercase;
		margin-top: 30px;
		margin-left: auto;
		margin-left: auto;
		border-radius: 30px;
		font-size: 18px;
		color: #fff;
		background: #892E6B;
		border: none;
		padding: 15px;
		width: 250px;
	}
}

.basket-table{
	margin-top: 50px;
	.quantity-wrap{
		margin-top: 0;
	}
	.name-td{
		img{
			width: 60px;
			height: 60px;
			vertical-align: middle;
			border-radius: 100%;
		}
	}
	td{ 
		vertical-align: middle !important;
		padding-bottom: 20px !important;
	}
	.td-prc{
		padding-right: 35px;
	}
	.prod-inf{
		.quantity-wrap{
			& > div{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	table{
		margin-bottom: 0;
	}
	thead{
		tr{
			th:last-child{
				padding-right: 35px;
			}
		} 
	}  
}  
 
.basket-title{
	text-transform: uppercase;
		text-align: center;
		font-size: 24px;
		font-family: ArialAMUbold;
		color: $main-violet;
	}

	.universal-buton{
		text-transform: uppercase;
		transition: all 0.3s;
	    border-radius: 32px;
	    background: $main-violet;
	    display: block;
	    width: 100%;
	    min-height: 40px;
	    margin-top: 20px;
	    font-size: 18px;
	    color: #fff;
	    border: none;
	    font-family: ArialAMUbold;
	}

	.basket-form-div{
		.check-box{
			position: relative;
			margin-top: 20px;
			padding-left: 10px;
			input{
				padding-right: 10px;
			    float: left;
			    border: 0;
			    cursor: pointer;
			    margin: 0;
			    width: 17px;
			    height: 17px;
			    display: inline-block; 
			    opacity: 0;
			    position: relative;
			    z-index: 4;
			}
			label{
				float: left;
				cursor: pointer;
				margin: 0 10px 0 -17px; 
				width: 17px;
				height: 17px;
				background: #fff;
				color: $main-violet;
				display: inline-block;
				border: 1px solid #892E6B;
				border-radius: 4px;
			}
			span{
				color: $main-black;
				font-size: 18px;
			}
			& > input:checked{
				& + label{
					&:after{
						/* position: absolute;
						top: 1px;
						left: 14px;
						content: '✔';
						font-size: 14px; */
					}
				}
			}
		}
		.universal-buton{
			text-transform: uppercase;
			min-width: 250px;
			margin-left: auto;
			margin-right: auto;

		}
	}

	.basket-form{
		margin-right: 99px;
		margin-top: 30px;
		max-width: 300px;
		float: right;
		hr{
			margin-bottom: 10px;
			border: 1px solid #ccc;
		}
		ul{
			li{
				&:first-child{
					font-size: 18px;
					color: $main-black;
				}
				&:nth-child(2){
					font-size: 24px;
					color: $main-violet;
					float: right;
				}
			}
		}
	}
	.close-prod{
		max-width: 44px;
		border-left: 1px solid #CCCCCC;
		a{
			display: inline-block;
			transition: all 0.3s;
			cursor: pointer;
			text-decoration: none;
			font-weight: bold;
			color: $light-gray;
			&:hover{
				color: $main-violet;
				transform: rotate(90deg);
			}
		}
	}
	.basket-first-inps{
		input{
			font-size: 24px;
			margin-top: 10px;
			border: none;
			border-radius: 4px;
			width: 100%;
			padding: 15px 10px 10px;
		}
	}

	.remove-trainer{
			margin-top: 20px;
		input{
			color: #fff;
			font-size: 18px;
			border: 1px solid $main-violet;
			background: $main-violet;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			padding: 10px 15px;
		}
		span{
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
			background: $main-violet;
			color: #fff;
			padding: 10px 15px;
			font-size: 18px;
		}
	}

	.select2-container .select2-selection--single{
		height: 38px !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		padding: 5px 10px !important;
	}
	.select2-container--default .select2-selection--single{
		border: 1px solid $main-violet !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		top: 6px !important;
	}